/* Framework styles */

.noDisplay {
    display: none;
}
.centred {
    text-align: center;
}
.infoPanel {
    position: absolute;
}
.indent {
    margin: 0 3%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 2.3vw;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.optionDisplay div {
    margin-bottom: 2%;
}
.feedback {
    margin-bottom: 1%;
}
.feedback span {
    font-size: 0.9vw;
    margin-left: 1%;
}

